@page
@model Projeto_Site.Views.Home.qjuridicoModel
@{
}

<div class="container">
    <div class="container">
        <br />
        <div class="col-3">
            <img src="~/images/nomeQualiSemFundo.png" class="img-fluid" />
        </div>
        <div class="row" id="container">
            <div class="col-6 text-justify">
                <br />
                <h2>QJurídico</h2>
                <h6><i>A ferramenta ideal para controlar as atividades do seu departamento jurídico</i></h6>
                <br />
                Faça consultas de forma prática, centralize e disponibilize informações, controle as atividades do seu departamento e reduza custos. 
                Isso é um pouco do que você ganha quando utiliza o Q-Jurídico 5.0, um sistema composto por módulos de Controle de Processos, Controle de Atendimentos, Controle de Documentos e Módulo Web.
            </div>
            <div class="col-6">
                <div class="col-12">
                    <div>
                        <img src="~/images/juridico1.JPG" class="img-fluid"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="container">
            <div class="col-6">
                <img src="~/images/juridico2.JPG" class="img-fluid" />
            </div>

            <div class="col-6">
                <div class="col-12">
                    <div>
                        <br />
                        <h4><b>Controle de Processos por áreas da Empresa</b></h4>
                        <text align="justify">
                            Tenha informações de gestão sobre as ações judiciais de sua empresa por área/unidade de negócio. 
                            Com esta facilidade o Q-Jurídico permite aos gestores um controle preventivo sobre qual área demanda maior atenção e suas necessidades de conhecimento.
                        </text>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row" id="container">
            <div class="col-6">
                <br />
                <!--esquerda-->
                <h4><b>Agenda de Compromissos e Prazos</b></h4>
                <h6><i>Informações sobre compromissos e prazos à disposição de todos</i></h6>
                <text align="justify">
                    A Agenda de Compromissos e Prazos vincula informações aos processos e permite integração com a distribuição de tarefas. 
                    Agora, ficou muito mais fácil gerenciar atividades do seu departamento jurídico.
                </text>
            </div>

            <div class="col-6">
                <div class="col-12">
                    <div>
                        <!--direita-->
                        <img src="~/images/juridico3.JPG" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row" id="container">
            <div class="col-6">
                <!--esquerda-->
                <img src="~/images/acad1.JPG" class="img-fluid" />
            </div>

            <div class="col-6">
                <div class="col-12">
                    <div>
                        <br />
                        <!--direita-->
                        <h4><b>Integração</b></h4>
                        <br />
                        Visando facilitar a comunicação interna entre os usuários envolvidos no processo, o sistema conta com um moderno serviço de correio eletrônico em tempo real.
                        Mensagens podem ser enviadas a usuários em particular ou para grupos de usuários que tenham determinada função no sistema.
                        Solicitação de alteração ou relançamento de notas, notificação de atraso na entrega de diário e solicitação de alteração nos dados cadastrais são exemplos de mensagens especiais padronizadas pelo sistema que agilizam determinadas tarefas
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="container">
            <div class="col-6">
                <br />
                <!--esquerda-->
                <h4><b>Vida Acadêmica</b></h4>

                <p class="text-right text-left">
                    Desde o ingresso do aluno, todas as suas informações, sejam notas, faltas, ocorrências disciplinares, decisões de conselhos de classe, atividades complementares, Projetos Finais/Monografias, Bolsas, Estágios, Colação de grau, entre outras, ficam registradas no sistema podendo ser facilmente acessadas.
                    Gráficos e estatísticas de rendimento do aluno e sua turma, e evolução de rendimento da turma ao longo das etapas são alguns dos relatórios úteis para a gestão pedagógica.
                    Emissão de documentos (declarações, certificados, diplomas, boletim, histórico, etc.) são validados pelo sistema e podem ser personalizados para cada instituição.
                    Questionários de avaliação Docente, Institucional, auto-avaliação, entre outros podem ser configurados e aplicados pela internet.
                    Mesmo após seu egresso, pode ser realizado um acompanhamento do aluno através de questionários aplicados via internet.
                </p>
            </div>

            <div class="col-6">
                <div class="col-12">
                    <div>
                        <!--direita-->
                        <img src="~/images/acad1.JPG" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row" id="container">
            <div class="col-6">
                <!--esquerda-->
                <img src="~/images/acad1.JPG" class="img-fluid" />
            </div>

            <div class="col-6">
                <div class="col-12">
                    <div>
                        <br />
                        <!--direita-->
                        <h4><b>Internet</b></h4>

                        Através da Internet, os alunos poderão consultar seu boletim, histórico, horário individual, suas matrizes curriculares, o conteúdo programático das disciplinas, informações como ofertas de estágio, download de materiais de aula disponibilzados pelos professores, tirar dúvidas através de FAQs, solicitar alteração de dados cadastrais, responder questionários, fazer pedido de matrícula, entre outras facilidades.
                        A comunidade poderá ter acesso a informações relativas aos cursos, às matrizes curriculares, aos processos seletivos entre outras.
                        Para os professores, estão disponibilizadas as principais funções do controle acadêmico. Permite-se lançamento de diários e atividades, troca de mensagens entre usuários e o registro Escolar, disponibilização de materiais de aula, Consulta aos alunos e turmas, horários e várias outras consultas à respeito de suas turmas e alunos.
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row" id="container">
            <div class="col-6">
                <br />
                <!--esquerda-->
                <h4><b>Planejamento</b></h4>

                A QUALIDATA, planeja a implantação do Q-Acadêmico para cada Instituição, importando os dados de sistemas atuais e treinando seus usuários de forma personalizada. A experiência com os Institutos federais e instituições privadas é sucesso garantido.
            </div>

            <div class="col-6">
                <div class="col-12">
                    <div><!--direita-->
                         <img src="~/images/acad1.JPG" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>