@page
@model Projeto_Site.Views.Home.qselecaoModel
@{
}



<div class="container">
    <div class="container">
        <br />
        <div class="col-3">
            <img src="~/images/nomeQualiSemFundo.png" class="img-fluid" />
        </div>
        <div class="row" id="container">
            <div class="col-6 text-justify">
                <br />
                <h2>QSeleção</h2>
                <br />
                Tendo como objetivo controlar todo o processo seletivo da instituição de ensino, da inscrição
                (que pode ser feita pela internet), emissão de relatórios operacionais, e processamento até a disponibilização do resultado na internet.
                Tudo com alta tecnologia, qualidade, agilidade e confiabilidade, o Q-Seleção integra-se ao Q-Acadêmico, permitindo que a matrícula dos candidatos aprovados seja agilizada evitando a
                redigitação.   Atendendo as mais recentes solicitações quanto aos processos seletivos do país, contempla o Q-Seleção aproveitamento de notas do ENEM e a configuração de cota de vagas.
            </div>
            <div class="col-6">
                <div class="col-12">
                    <div>
                        <img src="~/images/sel1.JPG" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <br />
        @*<div class="col-3">
            <img src="~/images/nomeQualiSemFundo.png" class="img-fluid" />
        </div>*@
        <div class="row" id="container">
            <div class="col-6 text-justify">
                <br />
                <h2>Principais Funcionalidades:</h2>
                <br />
                
                <h6>Inscrição</h6>
                <ul>
                    <li>Permite inscrição dos candidatos através de leitura ótica, digitação ou Internet</li>
                    <li>O Q-Seleção controla o pagamento das taxas de inscrição e a entrega dos documentos necessários</li>
                </ul>   
                <br />

                <h6>Configuração de questionários</h6>      
                <ul>
                    <li>Permite configurar questionários sócio-econômico para cada concurso, sem limite de perguntas.</li>
                </ul>   
                <br />

                <h6>Provas por Curso</h6>
                <ul>    
                    <li>Gerencia várias provas por concurso</li>
                    <li>Permite configurar provas diferentes em um mesmo concurso</li>
                    <li>Pode-se configurar qual prova cada curso irá fazer</li>
                </ul>    
                <br />

                <h6>Distribuição de salas</h6>
                <ul>        
                    <li>Faz a distribuição manual ou automática dos candidatos nas salas de acordo com critérios personalizados</li>
                </ul>
                <br />

                <h6>Processamento por Etapa</h6>
                <ul>
                    <li>O Q-Seleção permite processar as provas em várias etapas, permitindo a criação de etapas eliminatórias e classificatórias</li>
                </ul>
                <br />

                <h6>Processamento de Provas Objetivas e Discursivas</h6>
                <ul>
                    <li>O Q-Seleção interpreta as folhas respostas dos candidatos, corrigindo-as e atribuindo o total de pontos por disciplina</li>
                    <li>O Q-Seleção permite interpretar as notas discursivas lançadas em formulários de bolha ou digitação direto das notas</li>
                </ul>
                <br />

                <h6>Resultado por Score Bruto ou Padronizado</h6>
                <ul>
                    <li>Permite processar por Score bruto baseado no total de pontos em cada disciplina. Ou processar por Score padronizado baseado na média e no desvio padrão de todos os 
                        candidatos que fazem a mesma prova</li>
                </ul>
                <br />

                <h6>Avaliação da Qualidade da Prova</h6>
                <ul>
                    <li>Emite relatórios de avaliação da qualidade da prova identificando o grau de dificuldade, grau de discriminação e as alternativas plausíveis e as não plausíveis</li>
                </ul>
                <br />

                <h6>Gerencia Fiscais/Aplicadores de prova</h6>
                <ul>
                    <li>O Q-Seleção mantém cadastro das pessoas que trabalham no concurso com suas devidas funções</li>
                    <li>O Q-Seleção gera etiqueta de identificação para os crachás</li>
                </ul>
                <br />

                <h6>Impressão de Etiquetas</h6>
                <ul>
                    <li>Imprime etiqueta para identificar os cartões-resposta, as provas discursivas, as etiqueta de carteira, os pacotes de prova e a identificação dos usuários</li>
                    <li>Pode-se imprimir estas identificações direto nos formulários, configurando-se os parâmetros de impressão das etiqueta</li>
                </ul>
                <br />

                <h6>Relatórios diversos</h6>
                <ul>
                    <li>Emite relatórios de Mapas de salas, Lista de frequência, Atas de provas, Relação de candidatos para mural, etc...</li>
                </ul>
                <br />

                <h6>Estatísticas</h6>
                <ul>
                    <li>Emite relatórios estatísticos diversos, baseado nos candidatos inscritos e/ou por resultado</li>
                </ul>
                <br />
            </div>
            @*<div class="col-6">
                <div class="col-12">
                    <div>
                        <img src="~/images/sel1.JPG" class="img-fluid" />
                    </div>
                </div>
            </div>*@
        </div>
        <br />
    </div>


</div>